<footer>
  <div class="footer-container">
    <div>
      Powered by <a href="https://github.com/chunqiuyiyu/hexo-theme-samljen">Samljen</a> ❤ Thanks to <a href="https://hexo.io/">Hexo</a> & <a href="https://choo.io/">Choo</a>
    </div>
    <div>
      &copy; <%= date(new Date(), 'YYYY') %>
      <a class="author" href='/'>
        <%= config.author || '' %>
      </a>. All Right Reserved. 
    </div>
  </div>
</footer>
<%- js('/js/utils.js') %>
