.header {
  position: fixed;
  max-width: 1100px;
  width: 100%;
  z-index: 50;
  background: #edefed;
  border-bottom: .1rem solid #f77;
    
  .navbar {
    display: flex;
    line-height: 1.5;
    font-size: 1rem;
    justify-content: space-between;

    .menu {
      padding-top: .75rem;
      padding-bottom: .75rem;

      .menu-item {
        padding-left: .75rem;
        padding-right: .75rem;
        
        .menu-item-link {
          margin: 0 .75rem;
          color: #111;
        }
      }
    }
  }
}

.holder {
  padding: .7rem 0;
}

.info {
  padding: 1.5rem;
  background: #f77;
  color: #ffe5e5;
  
  .site-title {
    font-size: 3rem;
    color: #ffe5e5
  }
  
  .subtitle {
    font-size: 1.5rem;
  }
}
