.cards-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  .cards {
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ffe5e5;
      
    div {
      position: absolute;
      text-align: center;
      top: 0;
      left: 0;
      line-height: 1;
      
      a {
        color: inherit;
      }
    }
    
    .site-title {
      padding: 1.5rem;
      font-size: 5rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 11;
      background: #fff;
    }
    
    .bgc-pinker {
      background-color: #f77;
    }

    .fc-pink {
      color: #ffe5e5;
    }

    .fc-black {
      color: #111;
    }

    .fc-pinker {
        color: #f77
    }

    .bgc-pink {
        background-color: #ffe5e5
    }
  }

  .subtitle {
    padding: .75rem 2.25rem;
    color: #f77;
    text-align: center;
    border-bottom: .1rem solid;
    font-size: 1.5rem;
  }
}

.start-container {
  a {
    color: #f77;
  }
    
  padding: 1.5rem;
  font-size: 2rem;
  color: #f77;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
  .contact {
    background: #fff;
    color: #111;
    padding: .75rem 3rem;
    border: .1rem solid #111;
    border-top: 0;
    border-left: 0;
  }
}