@media screen and (max-width: 550px) {
  html {
    font-size: 14px;
  }
  
  .item {
    width: 100%;
    
    .vert-line {
      display:none;
    }
  }
  
  .search-dialog {
    width: 80vw!important;
  }
}